<section id="about" class="about">
  <div class="container">
    <div class="text-content">
      <h2>Sobre Nosotros</h2>
      <p>
        Con más de tres décadas de experiencia, impulsamos la transformación de
        organizaciones, desarrollando líderes inspiradores y fortaleciendo
        equipos de alto rendimiento a través de estrategias innovadoras y
        soluciones a la medida. Nuestro enfoque empoderador libera el potencial
        de tu gente para alcanzar el éxito organizacional.
      </p>
      <div class="cards">
        <div class="card card-1">
          <h3><i class="fas fa-check-circle"></i> Misión</h3>
          <p>
            Desbloqueamos el máximo potencial de las organizaciones, cultivando
            líderes efectivos y equipos cohesionados a través de estrategias
            personalizadas.
          </p>
        </div>
        <div class="card card-2">
          <h3><i class="fas fa-check-circle"></i> Visión</h3>
          <p>
            Ser un socio clave que ayuda a las empresas a formar grandes
            líderes, equipos eficientes y lograr un futuro exitoso con
            conciencia y transformación.
          </p>
        </div>
        <div class="card card-3">
          <h3><i class="fas fa-check-circle"></i> Valores</h3>
          <ul>
            <li>Innovación Estratégica</li>
            <li>Liderazgo con Impacto</li>
            <li>Excelencia Colaborativa</li>
            <li>Bienestar y Desarrollo del Talento</li>
          </ul>
        </div>
        <!-- <div class="card card-4">
          <h3><i class="fas fa-check-circle"></i> Valores</h3>
          <p>Innovación, bienestar y liderazgo para un mundo mejor.</p>
        </div> -->
      </div>
    </div>
    <div class="image-content">
      <img src="/empowernow/images/image2.webp" alt="EmpowerNow Team" />
    </div>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const aboutTl = gsap.timeline({
    scrollTrigger: {
      trigger: ".about",
      start: "top 80%",
      toggleActions: "play none none reverse",
      markers: false,
    },
  });

  aboutTl
    .from(".about .text-content", {
      opacity: 0,
      x: -50,
      duration: 1,
      ease: "power2.out",
    })
    .from(
      ".about .cards .card",
      { opacity: 0, y: 30, stagger: 0.2, duration: 0.8, ease: "power2.out" },
      "-=0.5"
    )
    .from(
      ".about .image-content",
      { opacity: 0, x: 50, duration: 1, ease: "power2.out" },
      "-=1"
    );
</script>
<style>
  .about {
    padding: 60px 20px;
    background: linear-gradient(135deg, #ffffff, #f3f3f3);
    overflow: hidden;
  }

  .about .container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
  }

  .about .text-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 70%;
  }

  .about h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
  }

  .about p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
    max-width: 800px;
    text-wrap: balance;
  }

  .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    background-color: rgba(255, 121, 32, 0.04);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    justify-content: space-between;
  }

  .card.card-3 {
    justify-content: flex-start;
  }

  .card.card.card-3 ul {
    padding-left: 1rem;
    & li {
      padding-bottom: 5px;
      line-height: 1.5;
    }
  }

  .card h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    position: relative;
    margin-bottom: 12px;
  }

  .card h3 i {
    color: #ff5e00;
  }

  .card p,
  li {
    font-size: 1rem;
    color: #555555;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
    text-wrap: pretty;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
  }

  .about .image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    max-width: 35%;
    min-height: 100%;
  }

  .about .image-content img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
  }

  .about .image-content img:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    .about {
      padding: 30px 0px;
    }
    .about .container {
      flex-direction: column;
      text-align: center;
      gap: 50px;
    }

    .about .text-content {
      max-width: 100%;
    }

    .cards {
      grid-template-columns: 1fr;
      gap: 20px;
      padding-inline: 20px;
    }

    .card {
      width: auto;
      padding: 15px;
      min-height: auto;
    }

    .card h3 {
      font-size: 1.2rem;
    }

    .about h2 {
      font-size: 1.5rem;
    }

    .about p {
      font-size: 1rem;
      padding: 0 20px;
      text-wrap: pretty;
    }

    .card p, li {
      font-size: 1rem;
    }

    .about .image-content {
      max-width: 100%;
    }

    .about .image-content img {
      border-radius: 0;
    }
  }
</style>
