<section class="brands">
  <h2>Nuestros Clientes</h2>
  <div class="logos">
    <div class="logos-slide">
      <img src="/empowernow/images/brands/femsa.svg" alt="" />
      <img src="/empowernow/images/brands/bayer.svg" alt="" />
      <img class="shell" src="/empowernow/images//brands/shell.svg" alt="" />
      <img src="/empowernow/images//brands/pepsico.svg" alt="" />
      <img
        class="miguel"
        src="/empowernow/images//brands/sanmiguel.svg"
        alt=""
      />
      <img src="/empowernow/images//brands/pdvsa.svg" alt="" />
      <img src="/empowernow/images//brands/merck.svg" alt="" />
    </div>
    <div class="logos-slide">
      <img src="/empowernow/images/brands/femsa.svg" alt="" />
      <img src="/empowernow/images/brands/bayer.svg" alt="" />
      <img class="shell" src="/empowernow/images//brands/shell.svg" alt="" />
      <img src="/empowernow/images//brands/pepsico.svg" alt="" />
      <img
        class="miguel"
        src="/empowernow/images//brands/sanmiguel.svg"
        alt=""
      />
      <img src="/empowernow/images//brands/pdvsa.svg" alt="" />
      <img src="/empowernow/images//brands/merck.svg" alt="" />
    </div>
  </div>
</section>

<style>
  h2 {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
    margin-block: 1.7rem;
    opacity: 0;
  }

  .logos .shell {
    height: 120%;
    max-height: 60px;
  }

  .logos .miguel {
    border-radius: 100%;
    background-color: black;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 40px 0;
    background: #ff6600;
    white-space: nowrap;
    position: relative;
  }

  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  } */

  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }

  .logos-slide img {
    height: 50px;
    margin: auto 40px;
  }
</style>
