<section class="hero">
  <h1>
    Impulsamos el crecimiento organizacional y el desarrollo de liderazgo y
    equipos
  </h1>
  <p>
    A través de soluciones personalizadas que desbloquean su máximo potencial y
    generan un impacto duradero
  </p>
  <a href="#contact" class="cta">Reserva tu Consulta</a>
</section>
<script>
  import { gsap } from "gsap";

  gsap.from(".hero h1", {
    opacity: 0,
    y: -50,
    duration: 1,
    ease: "power2.out",
    delay: 0.2,
  });

  gsap.from(".hero p", {
    opacity: 0,
    y: -30,
    duration: 1,
    ease: "power2.out",
    delay: 0.6,
  });

  gsap.from(".hero .cta", {
    opacity: 0,
    scale: 0.9,
    duration: 0.8,
    ease: "back.out(1.7)",
    delay: 1.0,
  });
</script>
<style>
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: url("/images/image5.webp") center/cover no-repeat;
    background-position: top;
    color: white;
    padding: 2rem;
    overflow: hidden;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .hero h1,
  .hero p,
  .hero .cta {
    position: relative;
    z-index: 2;
    margin: 0;
  }

  .hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-wrap: balance;
  }

  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 700px;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-wrap: pretty;
  }

  .hero .cta {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ff6600;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    text-decoration: none;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .hero .cta:hover {
    background-color: #e65c00;
    transform: translateY(-3px);
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .hero {
      padding: 0.7rem;
    }

    .hero h1 {
      font-size: 1.6rem;
      margin-top: 30px;
      text-wrap: balance;
    }

    .hero p {
      font-size: 1rem;
      padding: 0 10px;
      text-wrap: pretty;
    }

    .hero .cta {
      font-size: 1.25rem;
      padding: 0.8rem 1.5rem;
    }
  }
</style>
