<section class="leader">
  <div class="leader-content">
    <div class="leader-image">
      <img src="/empowernow/images/ana1.jpeg" alt="Ana Andrea Labrador" />
    </div>
    <div class="leader-text">
      <h3>
        Conoce a Nuestra Líder, Ana Andrea Labrador<br />Uniendo la Experiencia
        Empresarial con el Poder del Coaching para Transformar Organizaciones
      </h3>
      <p>
        Soy Ana Andrea Labrador, CEO de EmpowerNow Consulting Services. Mi
        trayectoria de <strong
          >más de 19 años en roles gerenciales de Recursos Humanos y 25 años
          como Coach Profesional Certificada (PCC de ICF)</strong
        > me permite ofrecer una visión integral del desarrollo organizacional.
      </p>
      <p>
        Como consultora, escritora y coach de líderes y equipos, facilito
        procesos transformadores y brindo soluciones personalizadas que impulsan
        el crecimiento sostenible, fortalecen la cultura y maximizan el
        potencial de tu organización.
      </p>
      <p class="leader-cta">
        <strong
          >¡Comencemos a construir juntos un futuro de éxito para tu empresa!</strong
        >
      </p>
    </div>
  </div>
</section>

<style>
  .leader {
    text-align: center;
    padding: 60px 20px;
    background-color: #f8f8f8;
  }

  .leader-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    /* max-width: 1200px; */
    margin: auto;
    text-align: left;
  }

  .leader-image {
    display: flex;
    align-items: center;
  }

  .leader-image img {
    width: 360px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .leader-text {
    max-width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .leader-text h3 {
    font-size: 1.6rem;
    margin: 5px 0 20px 0;
    color: #333;
  }

  .leader-text p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
  }

  .leader-cta {
    font-size: 1.1rem;
    color: #ff6600;
    text-align: center;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .leader-content {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    .leader-image img {
      width: 200px;
      height: auto;
    }

    .leader-text {
      text-align: center;
    }
  }
</style>
