<nav>
  <h2>EmpowerNow</h2>
  <ul>
    <li class="nav-li active"><a href="#">Inicio</a></li>
    <li class="nav-li"><a href="#services">Servicios</a></li>
    <li class="nav-li"><a href="#testimonials">Clientes</a></li>
    <li class="nav-li"><a href="#testimonials">Testimonios</a></li>
    <li class="nav-li"><a href="#about">Nosotros</a></li>
    <li class="nav-li"><a href="#books">Libros</a></li>
  </ul>
  <a href="#contact" class="header-cta"
    ><i class="fa-solid fa-phone"></i>Agenda tu cita</a
  >
  <button class="menu-toggle" name="open-menu">
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    /* max-width: 1200px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0.6rem 0rem;
    position: relative;
  }

  nav ul li {
  }

  nav ul li a {
    font-size: 0.95rem;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    font-weight: 500;
    color: #414141;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
  }

  nav ul li.active a {
    background-color: #ff6600;
    color: white;
  }

  nav ul li.active a:hover {
    color: white;
  }

  nav ul li a:hover {
    color: #ff6600;
  }

  .header-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0.75rem 1.5rem;
    background-color: #ff6600;
    text-decoration: none;
    color: white;
    font-size: 0.98rem;
    font-weight: 600;
    border-radius: 2rem;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 102, 0, 0.3);
  }

  .header-cta:hover {
    background-color: #e55c00;
    box-shadow: 0 6px 12px rgba(255, 102, 0, 0.4);
  }

  nav a i {
    font-size: 1.2rem;
  }

  .menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
      border: 0;
      font-size: 1.6rem;
      background: none;
      z-index: 200;
      color: #333;
    }

    nav ul {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 70%;
      padding-inline: 30px;
      flex-direction: column;
      /* gap: 2rem; */
      background-color: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(6px);
      box-shadow: 6px 0 12px rgba(0, 0, 0, 0.15);
      transform: translateX(-100%);
      transition: transform 0.4s ease-in-out;
      z-index: 150;
    }

    nav .show {
      transform: translateX(0%);
    }

    nav ul li {
      padding-block: 0.8rem;
    }

    nav ul li a {
      font-size: 1.2rem;
      color: #333;
      display: block;
      padding: 0.75rem 1rem;
      border-radius: 8px;
      transition: background 0.3s;
    }

    nav ul li a:hover {
      background-color: #ff6600;
    }

    nav ul li.active a {
      font-weight: 600;
    }

    .header-cta {
      display: none;
    }
  }
</style>

<script>
  const navLi = document.querySelectorAll(".nav-li");
  navLi.forEach((item) => {
    item.addEventListener("click", function (event) {
      navLi.forEach((itemLi) => {
        itemLi.classList.remove("active");
      });
      const target = event.currentTarget as HTMLElement;
      target.classList.add("active");
    });
  });
  const respNav = document.querySelector("nav ul") as HTMLUListElement;
  const respBtn = document.querySelector(".menu-toggle") as HTMLButtonElement;
  respBtn.addEventListener("click", () => {
    respNav.classList.toggle("show");
  });

  document.addEventListener("click", (event) => {
    const target = event.target as HTMLElement;

    const isClickOnToggle = respBtn.contains(target);
    const isClickOnAllowedItem =
      target.closest("nav ul li") !== null ||
      target.closest("nav ul li a") !== null;

    if (!isClickOnToggle && !isClickOnAllowedItem) {
      respNav.classList.remove("show");
    }
  });
</script>
