<nav>
  <h2>EmpowerNow</h2>
  <ul>
    <li class="nav-li active"><a href="#">Inicio</a></li>
    <li class="nav-li"><a href="#about">Nosotros</a></li>
    <li class="nav-li"><a href="#services">Servicios</a></li>
    <li class="nav-li"><a href="#testimonials">Clientes</a></li>
    <li class="nav-li"><a href="#books">Libros</a></li>
    <li class="nav-li"><a href="#testimonials">Testimonios</a></li>
  </ul>
  <a href="#contact" class="header-cta"
    ><i class="fa-solid fa-phone"></i>Agenda tu cita</a
  >
  <button class="menu-toggle" name="open-menu">
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    /* max-width: 1200px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  nav ul {
    display: flex;
    list-style: none;
    background-color: rgba(255, 121, 32, 0.07);
    padding: 0.6rem 0rem;
    border-radius: 1.6rem;
    position: relative;
  }

  nav ul li {
  }

  nav ul li a {
    font-size: 0.95rem;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    font-weight: 500;
    color: #5e5e5e;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
  }

  nav ul li.active a {
    background-color: #ff5e00;
    color: white;
  }

  nav ul li.active a:hover {
    color: white;
  }

  nav ul li a:hover {
    color: #ff5e00;
  }

  .header-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0.75rem 1.5rem;
    background-color: #ff5e00;
    text-decoration: none;
    color: white;
    font-size: 0.98rem;
    font-weight: 600;
    border-radius: 2rem;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 102, 0, 0.3);
  }

  .header-cta:hover {
    background-color: #e55c00;
    box-shadow: 0 6px 12px rgba(255, 102, 0, 0.4);
  }

  nav a i {
    font-size: 1.2rem;
  }

  .menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
      border: 0;
      font-size: 1.6rem;
    }

    nav ul,
    .header-cta {
      display: none;
    }

    nav ul {
      position: absolute;
      display: flex;
      padding-top: 3rem;
      /* justify-content: center; */
      gap: 40px;
      /* align-items: center; */
      flex-direction: column;
      top: 57px;
      left: 0;
      padding-left: 15px;
      background-color: #f3f3f3;
      border-radius: 0;
      width: 50%;
      height: 100vh;
      translate: -100%;
      transition: translate 0.4s ease-in-out;
    }

    nav .show {
      translate: 0%;
    }

    nav ul li a {
      font-size: 1.3rem;
      display: block;
    }

    nav ul li.active a {
      background-color: transparent;
      color: #5e5e5e;
    }

    nav ul li.active a:hover {
      color: #ff5e00;
    }
  }
</style>

<script>
  const navLi = document.querySelectorAll(".nav-li");
  navLi.forEach((item) => {
    item.addEventListener("click", function (event) {
      navLi.forEach((itemLi) => {
        itemLi.classList.remove("active");
        // this.classList.add("active");
      });
      const target = event.currentTarget as HTMLElement;
      target.classList.add("active");
    });
  });
  const respNav = document.querySelector("nav ul") as HTMLUListElement;
  const respBtn = document.querySelector(".menu-toggle") as HTMLButtonElement;
  respBtn.addEventListener('click', () => {
    console.log('asd');
    respNav.classList.toggle('show')
  })
</script>
